<mat-card class="table-card">
  <mat-card-header>
    <mat-card-title>
      {{ 'candidateForm.registeredCandidates' | transloco }}
      <button mat-icon-button (click)="refreshData()" [disabled]="isLoading" class="refresh-btn">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="isLoading" class="loading-container">
      <mat-spinner></mat-spinner>
      <p>{{ 'candidateForm.loadingCandidates' | transloco }}...</p>
    </div>

    <div class="table-container" *ngIf="!isLoading">
      <table mat-table [dataSource]="candidateDataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{ 'candidateForm.name' | transloco }}</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef>{{ 'candidateForm.surname' | transloco }}</th>
          <td mat-cell *matCellDef="let element">{{ element.surname }}</td>
        </ng-container>

        <ng-container matColumnDef="seniority">
          <th mat-header-cell *matHeaderCellDef>{{ 'candidateForm.seniority' | transloco }}</th>
          <td mat-cell *matCellDef="let element">
            <span [class]="'seniority-' + element.seniority">
              {{ element.seniority | titlecase }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="yearsOfExperience">
          <th mat-header-cell *matHeaderCellDef>{{ 'candidateForm.yearsOfExperience' | transloco }}</th>
          <td mat-cell *matCellDef="let element">{{ element.yearsOfExperience }}</td>
        </ng-container>

        <ng-container matColumnDef="availability">
          <th mat-header-cell *matHeaderCellDef>{{ 'candidateForm.availability' | transloco }}</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon [class]="element.availability ? 'available' : 'unavailable'">
              {{ element.availability ? 'check_circle' : 'cancel' }}
            </mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div *ngIf="candidateDataSource.data.length === 0" class="no-data">
        <mat-icon>assignment</mat-icon>
        <p>{{ 'status.noData' | transloco }}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
